/webstat/*

/video/*
/assets/*
/uploads/*
/log/*
/nbproject/*
/protected/nbproject/*
/protected/admin/runtime/*
/protected/runtime/*
error_log
.DS_Store
protected/admin/modules/deposit/views/deposit/index_ajax.php
TestController.php
.idea/
.idea/frameworkRootSettings.xml
protected/vendor
/vendor
composer.json
composer.lock
protected/composer.json
protected/composer.lock
protected/config/test.php
protected/tests

