<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body style="width:800px; margin: 0 auto;">
        <table width="650" height="800" background="http://informbusiness.click/ftp/goldenbirds/fon.jpg" cellpadding="25" cellspacing="0" border="0" style="color: #623721; border-collapse: collapse; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
            <tr>
                <td  align="center">
                    <div style="margin-right: 100px; line-height: 25px;">
                        <h2>Привет!</h2>  
                            <p>Интересная игра с реальной прибылью. <br />
                            5 минут в день и Вы можете получать до 1000 рублей 
                            ежедневно, регистрация ни к чему не обязывает 
                            <a style="color: #623721;" href="http://goldenbirds.biz/?i=128367">GoldenBirds</a>  
                            заходите - регистрируйтесь, мы расскажем как это работает :)</p>
                            <p style="font-weight: bold;">Плюс обязательный подарок! </p> 
                               <p style="margin-top: 100px;"> Подробности в личном кабинете игры </p>
                            <p style="text-transform: uppercase;  margin-top: 26px; font-weight: bold;">Доход в интернете это лекго и увлекательно.</p>
                            <p style="font-size: 12px; margin: 125px 0px -220px 0px; color: #EADE88;">2013-2014 GoldenBirds.biz - ALL RIGHTS RESERVED</p>
                        </p>
                    </div>        
                </td>
            </tr>
        </table>
    </table> 
</body>
</html>