<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="font-family: Arial;">
        <tr>
            <td align="center">
                <table width="680" height="150" border="0" cellspacing="0" cellpadding="25"  background="https://blago-vest.org/mails/bg_block2.jpg" style="background-repeat: no-repeat;">
                    <tr>
                        <td align="center" style="vertical-align: top;">
                            <a  href="https://blago-vest.org">
                                <img style="margin-top: 17px;   width: 170px; text-decoration: none;" src="https://blago-vest.org/mails/logo_top.png">
                            </a>
                        </td>
                        <td>						
                            <a style="color: #7e7d7d;font-size: 16px; text-decoration: none; font-family: Arial;" href="https://blago-vest.org/about-fund">о фонде</a>
                            <div style="width: 7px; height: 7px; background-color: #eac20a; border-radius: 50%; display: inline-block;   margin: 0px 26px 2px 26px;"></div>
                            <a style="color: #7e7d7d;font-size: 16px; font-family: Arial; text-decoration: none;" href="https://blago-vest.org/projects">проекты</a>
                            <div style="width: 7px; height: 7px; background-color: #eac20a; border-radius: 50%; display: inline-block;   margin: 0px 26px 2px 26px;"></div>
                            <a style="color: #7e7d7d;font-size: 16px; font-family: Arial; text-decoration: none;" href="https://blago-vest.org/contacts">контакты</a>
                        </td>	
                    </tr>
                </table>

               
                <p style="padding:100px 0;">Последрние новости</p>


                <table style="font-size: 12px;" bgcolor="#563770" border="0" cellspacing="0" cellpadding="25" width="680" height="100">
                    <tr>
                        <td>
                            <a href=""><img style="width: 120px;" src="https://blago-vest.org/mails/logo_bottom.png"></a>
                        </td> 
                        <td align="left" style="color:#fff; font-size:12px;">
                            <p style="color: #9a84ae; margin-top: 10px;">04300, Украина, Киев, ул. Днепровская набережная 26Ж.</p>
                            <div class="social">
                                <a style="color: #fff;" href="http://vk.com/fundblagovest"><img style="  margin-left: 46px; width: 20px;" src="https://blago-vest.org/mails/vk.png" /></a>
                                <a style="color: #fff;" href="https://www.facebook.com/groups/1584264545157407"><img style="  width: 20px; margin-left: 20px;" src="https://blago-vest.org/mails/facebook.png"></a>
                                <a style="color: #fff;" href="https://www.youtube.com/channel/UCMyRfi5RTZryr869sXWi3WA">
                                    <img style="margin-left: 20px;  width: 20px;" src="https://blago-vest.org/mails/youtube.png">
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <table style="font-size: 12px;" bgcolor="#34085D" border="0" cellspacing="0" cellpadding="25" width="680" height="50">
                    <tr>
                        <td>
                            <p style="color: #fff; font-size:12px; margin: 0px; text-align: center;">Все права защищены &copy; 2015 Crystal-it</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
        </tr>                                        
    </table> 
</body>
