.breadcrumbs {
    display: block;
    margin: 20px 0 0;
    padding: 0 0 20px;
    text-transform: uppercase;
    font-size: 12px;
}
.breadcrumbs a {
    color: #7b7d82;
    border-bottom: 1px dotted rgba(0,0,0,.1);
}
.breadcrumbs span {
    color: #7b7d82;
}